.git
.DS_Store
captures/
client/
*.o
moc_*
ui_*
qrc_*
.qmake.stash
Makefile
*.pro.user
server/qt_tcp_server
server/*.o
server/moc_*
server/Makefile
server/.qmake.stash
client/qt_tcp_client
client/*.o
client/moc_*
client/Makefile
client/.qmake.stash
client/*.app
